body {
      background-image: url('canada.png'); 
      background-size: cover; 
      background-repeat: no-repeat; 
      background-attachment: fixed; 
      background-position: center; 
    }

.custom-container-fluid {
  border: 3px solid #CE5200;   
  margin: 10%;
  padding: 1em; 
  box-shadow: 5px 5px;
  background-color: rgba(255, 255, 255, 0.8); /* 80% opaque white */
}


